.message-input-field {
  position: fixed !important;
  bottom: 0px;
}

.message {
  right: 0px;
  margin: 10px;
  margin-top: 1px;
}

.messages {
  margin-bottom: 70px;
}

.middle {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.middle-left {
  width: 200px;
}

.middle-right {
  position: absolute;
  left: 200px;
  right: 10px;
}

//Transition Group
.message-enter {
  opacity: 0.01;
}

.message-enter.message-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.message-leave {
  opacity: 1;
}

.message-leave.message-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.main-splash {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(http://res.cloudinary.com/dkympkwdz/image/upload/v1488595259/background_somxub.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
